$light-blue: #0066cc;
$dark-blue: #0158a1;
$red: #f25e30;
$yellow: #cedb00;
$grey: #e1e1e1;

body, html {
  // background-color: $grey;
  // color: #999999;
}
footer, header {
  //background-color: #ffffff;
}
.side-nav {
 // background-color: $light-blue;
 li:first-child, li:last-child {
 //   background-color: $dark-blue;
}
a:hover {
  color: grey;
}
}
.content {
 //background-color: white;
}
.content-header {
 //background-color: $light-blue;
}
.back-arrow {
//background-color: $dark-blue;
}
.header-nav {  
  thead, tr, th, h2 {
//    color: white;
}
}  
.options-content {
 // background-color: $grey;
}

.input-form {
  color: lighten(#000, 60%);
}

.header-nav {  
  thead, tr, th, h2 {
    background-color: red;
    color: white;
  }
}