
.house {
  @include image-sprite(house);
}
.my-reports {
  @include image-sprite(my-reports);
}
.analyses {
  @include image-sprite(analyses);
}
.groups {
  @include image-sprite(groups);
}
.users {
  @include image-sprite(users);
}
.settings {
  @include image-sprite(settings);
}
.logout {
  @include image-sprite(logout);
}
.logo{
  @include image-sprite(logo);
  display: block;
}
.philips {
  @include image-sprite(philips);
  display: block;
}
.back{
   @include image-sprite(back);
}

// .i {
//   @include image-sprite(i);
//   display: inherit;
// }
// .del {
//   @include image-sprite(del);
//   display: inherit;
// }