$total-columns: 12;
$column-width: 60 / $font * 1em;
$gutter-width: 20 / $font * 1em;
$grid-padding: 0;
$total-width: ( $total-columns * ($column-width + $gutter-width) ) + ( 2 * $grid-padding ) - $gutter-width;

$container-style: magic;

.container {
  @include container;
  @include border-box-sizing;
  @include min-width(30em);  
}

.sidenav {
  @include span-columns(3, $total-columns);
}
.content {
  @include span-columns(9 omega, $total-columns);
  .input-form {
    @include span-columns(6, 9);
  }
  .right-nav-bar {
    @include span-columns(3 omega, 9);
  }
}
