.clearfix {
  @include legacy-pie-clearfix;
}


body, html {
  height: 100%;
}

@include sticky-footer((88 / $font * 1em), "#page", "#footer-place", "#footer");

footer {
  padding-top: 1em;
  div {
    @include container;
  }
}

#header {
  height: (88 / $font * 1em);
  width: 100%;
  div {
    @include container;
    padding-top: 2em;
  }
}

.jackson {
  &:after {
    @include image-sprite(Jackson);
    display: inline-block;
    top: 0;
    right: 5px;
  }
} 

.container {
  //min-height: (700/$font *1rem) ;
}

.side-nav {
  height: auto;
  line-height: 3em;
  padding: 0;
  a {
    vertical-align: middle;
    line-height: (56.11px);
    display: inline-block !important;
    margin-left: 1rem;
  }
}

.content {
  min-height: 644 / $font * 1em;
}

.content-header {
  height: 3.28em;
}

.back-arrow {
  width: 3.1em;
  height: 100%;
  display: inline-block;
  a {
    margin: 0.8em;
    display: inline-block;
  }
}

.content-body {
 // padding: $gutter-width !important;
}

.right-nav-bar {
  padding: $gutter-width;
}  
table, .options-content tr {
  display: block;
}
.header-nav {  
  thead, tr, th, h2 {
    text-align: center;
    
  }
}
td {
  padding-left: 1em;
  &:nth-child(even) {
    padding-left: 1.7rem;
  }
}
a {
  &.i {
    &:after {
      @include image-sprite(i);
      content: "";
      display: inline-block;
      //position: absolute;
      top: 0;
      right: 5px;
    }
  }
  &.del {
    &:after {
      @include image-sprite(del);
      content: "";
      display: inline-block;
     // position: absolute;
     top: 0;
     right: 5px;
   }
 }
}
.options-content {
  min-height: 454 / $font *1em;
  overflow-y: auto;
  display: block;
}

input[type=text] {
  margin: 0;
  padding: 0 0.5em;
}
label {
  clear: left;
}

.form-item {
  @include input-elem;
  position: relative;
  float: left;
  //display: inline-block;
  &.i {
   &:after {
    @include image-sprite(i);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 5px;
  }
}
&.del {
  &:after {
    @include image-sprite(del);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 5px;
  }
}
}

.input-form {
  padding-top: $gutter-width*2;
  padding-left: $gutter-width;
  input {
    width: 200 / $font * 1rem;
    height: 20 /$font * 1rem;
    display: inline;
    &[disabled] {
      @include opacity(0.5);
    }

    &.i, &.del {
      :focus {
        background-position-x: 175 / $font * 1rem;  
      }
      background-position-x: 175 / $font * 1rem;
    }
  }
  textarea {
   @include input-elem;
   max-width: 416/$font *1rem !important;
 }
 button {
  @include input-elem;
  width: 200 / $font * 1rem;
  &:hover{
    @include opacity(0.7);
  }
}
}
.save {
 @include btn-darken($yellow, 5);
}

.cancel {
  @include btn-darken($red, 5);
}


