body, html {
  font-size: $font + px;
  font-family: $body-font-family;
}

.side-nav {
  a{
    font-size: (20/$font *1rem);
  }
  li:first-child {
    padding-top: 0.5rem;
  }
  li:last-child {
    line-height: 5rem;
    a{
      color: $grey*0.9;
   }
  }
}
.header-nav {
  h2 {
    font-size: 32/ $font *1rem; 
    line-height: 2.3rem;
  }
  p, .options {
    font-size: 12 / $font * 1rem;
    line-height: 1rem;
  }
}
.options-content {
  color: #666666;
}