$font: 16;
$font-large: (20/$font *1em);
$body-font-family: "calibri";

@import "../foundation/components/global";

@mixin btn-darken ($color, $percent) {
  background-color: $color; 
  padding-top: 0.5rem;
  height: 40/$font *1em;
  &:hover, &:active{
    background-color: adjust-saturation($color, $percent);
  }
}

@mixin input-elem {
  font-size: (14/ $font *1rem);
  margin-right: 10 /$font * 1rem !important;
  margin-bottom: 10 /$font * 1rem !important;
}

@mixin image-sprite($image) {
  @include icons-sprite($image);
  width: icons-sprite-width($image);
  height: icons-sprite-height($image);
 // width: emCalc(icons-sprite-width($image));
 // height: emCalc(icons-sprite-height($image));
}