@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/* line 162, icons/*.png */
.icons-sprite, .jackson:after, a.i:after, a.del:after, .form-item.i:after, .form-item.del:after, .house, .my-reports, .analyses, .groups, .users, .settings, .logout, .logo, .philips, .back {
  background: url('../img/icons-sf7b8104bbe.png') no-repeat;
}

/* line 287, ../../src/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

/* line 292, ../../src/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

/* line 297, ../../src/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 302, ../../src/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 307, ../../src/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 317, ../../src/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 322, ../../src/scss/foundation/components/_global.scss */
html,
body {
  font-size: 16px;
}

/* line 325, ../../src/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "calibri";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 338, ../../src/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 343, ../../src/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 346, ../../src/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 347, ../../src/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 353, ../../src/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 358, ../../src/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 359, ../../src/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 360, ../../src/scss/foundation/components/_global.scss */
.clearfix {
  *zoom: 1;
}
/* line 165, ../../src/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 166, ../../src/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 361, ../../src/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 362, ../../src/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 363, ../../src/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 364, ../../src/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 365, ../../src/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 371, ../../src/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 374, ../../src/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 384, ../../src/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 387, ../../src/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 19, ../../src/scss/app/_colors.scss */
.side-nav a:hover {
  color: grey;
}

/* line 41, ../../src/scss/app/_colors.scss */
.input-form {
  color: #999999;
}

/* line 46, ../../src/scss/app/_colors.scss */
.header-nav thead, .header-nav tr, .header-nav th, .header-nav h2 {
  background-color: red;
  color: white;
}

/* line 9, ../../src/scss/app/_layout.scss */
.container {
  *zoom: 1;
  max-width: 58.75em;
  _width: 58.75em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 30em;
  width: auto !important;
  width: 30em;
}
/* line 38, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */
.container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../../src/scss/app/_layout.scss */
.sidenav {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

/* line 18, ../../src/scss/app/_layout.scss */
.content {
  width: 74.46809%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}
/* line 20, ../../src/scss/app/_layout.scss */
.content .input-form {
  width: 65.71429%;
  float: left;
  margin-right: 2.85714%;
  display: inline;
}
/* line 23, ../../src/scss/app/_layout.scss */
.content .right-nav-bar {
  width: 31.42857%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

/* line 1, ../../src/scss/app/_style.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 6, ../../src/scss/app/_style.scss */
body, html {
  height: 100%;
}

/* line 10, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -5.5em;
}
/* line 18, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#page #footer-place {
  height: 5.5em;
}

/* line 20, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 5.5em;
}

/* line 12, ../../src/scss/app/_style.scss */
footer {
  padding-top: 1em;
}
/* line 14, ../../src/scss/app/_style.scss */
footer div {
  *zoom: 1;
  max-width: 58.75em;
  _width: 58.75em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer div:after {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../../src/scss/app/_style.scss */
#header {
  height: 5.5em;
  width: 100%;
}
/* line 22, ../../src/scss/app/_style.scss */
#header div {
  *zoom: 1;
  max-width: 58.75em;
  _width: 58.75em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}
/* line 38, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header div:after {
  content: "";
  display: table;
  clear: both;
}

/* line 29, ../../src/scss/app/_style.scss */
.jackson:after {
  background-position: 0 -51px;
  width: 40px;
  height: 40px;
  display: inline-block;
  top: 0;
  right: 5px;
}

/* line 41, ../../src/scss/app/_style.scss */
.side-nav {
  height: auto;
  line-height: 3em;
  padding: 0;
}
/* line 45, ../../src/scss/app/_style.scss */
.side-nav a {
  vertical-align: middle;
  line-height: 56.11px;
  display: inline-block !important;
  margin-left: 1rem;
}

/* line 53, ../../src/scss/app/_style.scss */
.content {
  min-height: 40.25em;
}

/* line 57, ../../src/scss/app/_style.scss */
.content-header {
  height: 3.28em;
}

/* line 61, ../../src/scss/app/_style.scss */
.back-arrow {
  width: 3.1em;
  height: 100%;
  display: inline-block;
}
/* line 65, ../../src/scss/app/_style.scss */
.back-arrow a {
  margin: 0.8em;
  display: inline-block;
}

/* line 75, ../../src/scss/app/_style.scss */
.right-nav-bar {
  padding: 1.25em;
}

/* line 78, ../../src/scss/app/_style.scss */
table, .options-content tr {
  display: block;
}

/* line 82, ../../src/scss/app/_style.scss */
.header-nav thead, .header-nav tr, .header-nav th, .header-nav h2 {
  text-align: center;
}

/* line 87, ../../src/scss/app/_style.scss */
td {
  padding-left: 1em;
}
/* line 89, ../../src/scss/app/_style.scss */
td:nth-child(even) {
  padding-left: 1.7rem;
}

/* line 95, ../../src/scss/app/_style.scss */
a.i:after {
  background-position: 0 -538px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  top: 0;
  right: 5px;
}
/* line 105, ../../src/scss/app/_style.scss */
a.del:after {
  background-position: 0 -558px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  top: 0;
  right: 5px;
}

/* line 115, ../../src/scss/app/_style.scss */
.options-content {
  min-height: 28.375em;
  overflow-y: auto;
  display: block;
}

/* line 121, ../../src/scss/app/_style.scss */
input[type=text] {
  margin: 0;
  padding: 0 0.5em;
}

/* line 125, ../../src/scss/app/_style.scss */
label {
  clear: left;
}

/* line 129, ../../src/scss/app/_style.scss */
.form-item {
  font-size: 0.875rem;
  margin-right: 0.625rem !important;
  margin-bottom: 0.625rem !important;
  position: relative;
  float: left;
}
/* line 135, ../../src/scss/app/_style.scss */
.form-item.i:after {
  background-position: 0 -538px;
  width: 20px;
  height: 20px;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
}
/* line 145, ../../src/scss/app/_style.scss */
.form-item.del:after {
  background-position: 0 -558px;
  width: 20px;
  height: 20px;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
}

/* line 156, ../../src/scss/app/_style.scss */
.input-form {
  padding-top: 2.5em;
  padding-left: 1.25em;
}
/* line 159, ../../src/scss/app/_style.scss */
.input-form input {
  width: 12.5rem;
  height: 1.25rem;
  display: inline;
}
/* line 163, ../../src/scss/app/_style.scss */
.input-form input[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 167, ../../src/scss/app/_style.scss */
.input-form input.i, .input-form input.del {
  background-position-x: 10.9375rem;
}
/* line 168, ../../src/scss/app/_style.scss */
.input-form input.i :focus, .input-form input.del :focus {
  background-position-x: 10.9375rem;
}
/* line 174, ../../src/scss/app/_style.scss */
.input-form textarea {
  font-size: 0.875rem;
  margin-right: 0.625rem !important;
  margin-bottom: 0.625rem !important;
  max-width: 26rem !important;
}
/* line 178, ../../src/scss/app/_style.scss */
.input-form button {
  font-size: 0.875rem;
  margin-right: 0.625rem !important;
  margin-bottom: 0.625rem !important;
  width: 12.5rem;
}
/* line 181, ../../src/scss/app/_style.scss */
.input-form button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 186, ../../src/scss/app/_style.scss */
.save {
  background-color: #cedb00;
  padding-top: 0.5rem;
  height: 2.5em;
}
/* line 11, ../../src/scss/app/_variables.scss */
.save:hover, .save:active {
  background-color: #cedb00;
}

/* line 190, ../../src/scss/app/_style.scss */
.cancel {
  background-color: #f25e30;
  padding-top: 0.5rem;
  height: 2.5em;
}
/* line 11, ../../src/scss/app/_variables.scss */
.cancel:hover, .cancel:active {
  background-color: #f85b2a;
}

/* line 1, ../../src/scss/app/_typography.scss */
body, html {
  font-size: 16px;
  font-family: "calibri";
}

/* line 7, ../../src/scss/app/_typography.scss */
.side-nav a {
  font-size: 1.25rem;
}
/* line 10, ../../src/scss/app/_typography.scss */
.side-nav li:first-child {
  padding-top: 0.5rem;
}
/* line 13, ../../src/scss/app/_typography.scss */
.side-nav li:last-child {
  line-height: 5rem;
}
/* line 15, ../../src/scss/app/_typography.scss */
.side-nav li:last-child a {
  color: #cacaca;
}

/* line 21, ../../src/scss/app/_typography.scss */
.header-nav h2 {
  font-size: 2rem;
  line-height: 2.3rem;
}
/* line 25, ../../src/scss/app/_typography.scss */
.header-nav p, .header-nav .options {
  font-size: 0.75rem;
  line-height: 1rem;
}

/* line 30, ../../src/scss/app/_typography.scss */
.options-content {
  color: #666666;
}

/* line 2, ../../src/scss/app/_images.scss */
.house {
  background-position: 0 -403px;
  width: 45px;
  height: 45px;
}

/* line 5, ../../src/scss/app/_images.scss */
.my-reports {
  background-position: 0 -448px;
  width: 45px;
  height: 45px;
}

/* line 8, ../../src/scss/app/_images.scss */
.analyses {
  background-position: 0 -91px;
  width: 45px;
  height: 45px;
}

/* line 11, ../../src/scss/app/_images.scss */
.groups {
  background-position: 0 -181px;
  width: 45px;
  height: 45px;
}

/* line 14, ../../src/scss/app/_images.scss */
.users {
  background-position: 0 -358px;
  width: 45px;
  height: 45px;
}

/* line 17, ../../src/scss/app/_images.scss */
.settings {
  background-position: 0 -136px;
  width: 45px;
  height: 45px;
}

/* line 20, ../../src/scss/app/_images.scss */
.logout {
  background-position: 0 -493px;
  width: 45px;
  height: 45px;
}

/* line 23, ../../src/scss/app/_images.scss */
.logo {
  background-position: 0 -22px;
  width: 167px;
  height: 29px;
  display: block;
}

/* line 27, ../../src/scss/app/_images.scss */
.philips {
  background-position: 0 0;
  width: 122px;
  height: 22px;
  display: block;
}

/* line 31, ../../src/scss/app/_images.scss */
.back {
  background-position: 0 -334px;
  width: 14px;
  height: 24px;
}
